/***********************************
            BASIC RESET
***********************************/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html {
    /* 
    Converting default browser font-size of 16px to 10px in percentage
    10px / 16px * 100 = 62.5%, thus 1rem = 62.5% = 10px
    */
    font-size: 62.5% !important;
    @include respond-up(lg) {
        font-size: 75% !important; // 1rem = 12px, 12/16*100 = 75%
    }
    @include respond-down(md) {
        font-size: 56.25% !important; // 1rem = 9px, 8/16*100 = 56.25%
    }
    @include respond-down(sm) {
        font-size: 50% !important; // 1rem = 8px, 8/16 * 100 = 50%;
    }
    * table > thead > tr > th,
    * table > tbody > tr > td,
    * table > tfoot > tr > td,
    .v-data-footer {
        font-size: 62.5% !important;
        @include respond-up(lg) {
            font-size: 75% !important; // 1rem = 12px, 12/16*100 = 75%
        }
        @include respond-down(md) {
            font-size: 56.25% !important; // 1rem = 9px, 8/16*100 = 56.25%
        }
        @include respond-down(sm) {
            font-size: 50% !important; // 1rem = 8px, 8/16 * 100 = 50%;
        }
    }

    overflow-y: initial !important;
}
body {
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif !important;
    font-weight: 400;
    line-height: 1.7;
    color: $text;
    font-size: 1.2rem !important;
    background: $body-bg;
    min-height: 100vh !important;
}
a,
a:active {
    color: $text;
    text-decoration: none;
}
::selection {
    background-color: $primary;
    color: $white;
}
