.top__bar__nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;

    &__links {
        list-style-type: none;
        padding-left: 0 !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__links__link {
        position: relative;
        align-self: stretch;
        height: 100%;
        & > a {
            color: $text !important;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0 2.5rem 0 0;
            & > button {
                box-shadow: none;
                background-color: transparent !important;
                width: 100% !important;
                padding: 0 !important;
            }
        }
        &.is-link-active > a {
            color: black !important;
        }
        &.is-link-active::before {
            position: absolute;
            top: 0;
            left: -1rem;
            content: "";
            display: block;
            width: 100%;
            height: 3px;
            background: $primary;
            animation: tab-active-animate 0.3s ease-in-out backwards;
        }
    }
}

.search__input {
    width: 20rem;
    height: 2.5rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
    border: 1px solid $text;
    border-radius: 99999px;
    padding: 0.5px 2px;
    &__icon {
        margin-right: 4px;
        border-radius: 99999px;
        transition: all 0.2s ease-in;
    }
    & > input[type="search"] {
        width: 100%;
        height: 100%;
        font-size: 1.4rem;
        &:focus {
            outline: none;
        }
    }
    & > input[type="search"]:focus + span.search__input__icon {
        background-color: $secondary;
        & > i {
            color: $white !important;
            font-size: 22px !important;
        }
    }
}

.dashboard__card__top {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 0px 18px 46px -10px rgba(185, 184, 184, 0.719);
    -webkit-box-shadow: 0px 18px 46px -10px rgba(185, 184, 184, 0.719);
    -moz-box-shadow: 0px 18px 46px -10px rgba(185, 184, 184, 0.719);
    &__left {
        display: flex;
        justify-content: center;
        align-items: center;
        &__icon {
            width: 3rem;
            height: 3.3rem;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 0.5rem;
            & > i {
                font-size: 26px !important;
            }
            &.icon--info {
                background-color: rgba(33, 149, 243, 0.12);
                & > i {
                    color: #2196f3 !important;
                }
            }
            &.icon--warnning {
                background-color: rgba(253, 196, 8, 0.12);
                & > i {
                    color: #fdc408 !important;
                }
            }
            &.icon--danger {
                background-color: rgba(255, 82, 82, 0.12);
                & > i {
                    color: #ff5252 !important;
                }
            }
            &.icon--success {
                background-color: rgba(76, 174, 79, 0.12);
                & > i {
                    color: #4caf50 !important;
                }
            }
        }

        &__content {
            height: 3.3rem;
            line-height: 1.2 !important;
            margin-left: 0.5rem;
            & > p:first-child {
                font-size: 1rem;
                margin-bottom: 0 !important;
                color: $text;
            }
            & > p:last-child {
                font-size: 2rem;
                color: black;
                font-weight: 300;
                margin-bottom: 0 !important;
            }
        }
    }
    &__right {
        min-width: 3.3625rem;
        height: 3.3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        & > p {
            margin-bottom: 0 !important;
            line-height: 1.1 !important;
        }
        &.text--info {
            & > p {
                color: #2196f3 !important;
            }
        }
        &.text--warnning {
            & > p {
                color: #fb8a00 !important;
            }
        }
        &.text--danger {
            & > p {
                color: #ff5252 !important;
            }
        }
        &.text--success {
            & > p {
                color: #4caf50 !important;
            }
        }
    }

    &__button {
        width: 100%;
        height: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.notification {
    width: 100%;
    margin-top: 1.5rem;
    &__container {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        &:not(:last-child) {
            margin-bottom: 1.2rem;
        }
    }
    &__avatar {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 99999px;
        background-color: $white;
        line-height: 1.2;
        & > img {
            width: 100%;
            height: 100%;
        }
    }
    &__content {
        width: 12rem;
        flex: 1;
        margin-left: 0.5rem;
        line-height: 1.5;
        &__title {
            width: 12rem;
            color: black;
            font-weight: 300;
            font-size: 1rem;
            @include truncate;
        }
        &__time {
            display: block;
            width: 12rem;
            font-size: 0.95rem;
            color: #686767d0;
            letter-spacing: 1px;
            font-weight: 200;
            @include truncate;
        }
    }
}

.collapse__header {
    width: 100%;
    height: 7rem;
    background-color: $white;
    display: flex;
    justify-content: space-between;
    background-color: $white;
    border-radius: 15px;
    user-select: none;
    cursor: pointer;
    padding: 0 3rem;
    margin-top: 3rem;
    &:not(:first-child) {
    }

    box-shadow: -1px 1px 5px 1px rgba(123, 123, 123, 0.45);
    -webkit-box-shadow: -1px 1px 5px 1px rgba(123, 123, 123, 0.45);
    -moz-box-shadow: -1px 1px 5px 1px rgba(123, 123, 123, 0.45);
    &__left {
        width: calc(100% / 2);
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        overflow: hidden;
        & > .icon-left {
            width: 2.5rem;
            height: 2.5rem;
            background-color: #fdc408;
            border-radius: 5px;
            position: relative;
            overflow: hidden;
            & > .icon-arch {
                position: absolute;
                top: -18px;
                right: -19px;
                content: "";
                display: inline-block;
                width: 2.3rem;
                height: 3rem;
                background-color: #7f11c9;
                border-radius: 3px;
                transform: rotate(52deg);
            }
            & > .icon-circle {
                position: absolute;
                left: -2px;
                bottom: -2px;
                content: "";
                display: inline-block;
                width: 2rem;
                height: 2rem;
                border: 5px solid #ff5252;
                border-radius: 9999px;
            }
        }
        & > .title {
            margin: 0 1.1rem;
            & > h4 {
                font-size: 1.7rem;
                font-weight: bold;
                color: black;
            }
        }
        & > .icon-right {
            background-color: rgba(180, 180, 180, 0.808);
            border-radius: 9999%;
        }
    }

    &__right {
        width: calc(100% / 2);
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        & .progress {
        }
        & .fat__arrow {
            margin-left: 5rem;
            & .arrow {
                width: 2.5rem;
                height: 2.5rem;
                display: inline-block;
                border: 2px solid black;
                border-top: transparent;
                border-left: transparent;
                transform: rotate(45deg);
            }
        }
    }
}
.collapse__content {
    width: 100%;
    padding-left: 15.5rem;
    margin-bottom: 5rem;
    &__timeline {
        position: relative;
        width: 100%;
        height: 6rem;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        & .dot {
            width: 2rem;
            height: 2rem;
            background-color: $primary;
            border-radius: 9999%;
            margin-right: 1rem;
        }
        & .line {
            width: 1px;
            height: calc(100% - 2rem);
            position: absolute;
            top: 0;
            left: 1rem;
            background-color: #686767d0;
            border-radius: 9999%;
            &::before {
                position: absolute;
                content: "";
                display: inline-block;
                top: 0;
                left: 0;
                width: 1px;
                height: 0.5rem;
                background-color: $white;
                border-color: $white;
            }
            &::after {
                position: absolute;
                content: "";
                display: inline-block;
                bottom: 0;
                left: 0;
                width: 1px;
                height: 0.5rem;
                background-color: $white;
                border-color: $white;
            }
        }
        & .title {
        }
        & .user {
            height: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            padding: 0 1rem;
            & .details {
                padding: 0 1rem;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                & span {
                }
                & .avatar {
                    width: 2rem;
                    height: 2rem;
                    border-radius: 99999px;
                    margin-left: 1rem;
                    background-color: rgba(180, 180, 180, 0.808);
                    & > img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            & .sperator {
                width: 2rem;
                height: 1px;
                background-color: rgba(180, 180, 180, 0.808);
                margin-bottom: 1rem;
            }
        }
        & .date {
        }
        & .range {
            width: 15rem;
            margin: 0 2rem;
        }
        & .badge {
            &__success {
                background-color: rgba(76, 175, 79, 0.404);
                color: #4caf50;
                padding: 0.1rem 1rem;
                border-radius: 9999px;
            }
            &__warning {
                background-color: rgba(253, 196, 8, 0.404);
                color: #fdc408;
                padding: 0.1rem 1rem;
                border-radius: 9999px;
            }
        }
    }

    &__btn {
        padding-top: 3rem;
    }
}
