@import url(https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap);
/**
    DESKTOP FIRST APPROACH
    No media query necessary for xl breakpoint as it has no upper bound on its width
**/
/**
    DESKTOP FIRST APPROACH
    No media query necessary for xl breakpoint as it has no upper bound on its width
**/
@-webkit-keyframes mini-nav-active-animate {
  0% {
    transform: translateX(-3px);
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.75;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes mini-nav-active-animate {
  0% {
    transform: translateX(-3px);
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.75;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes arrow-infinite {
  0% {
    transform: translateY(-4rem);
    opacity: 0;
  }
  25%, 35% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.75;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes arrow-infinite {
  0% {
    transform: translateY(-4rem);
    opacity: 0;
  }
  25%, 35% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.75;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.text-1 {
  font-size: 1.4rem !important;
}

.form-card {
  border: 2px solid #99001c !important;
}

.s-alert {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top__bar__nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
}
.top__bar__nav__links {
  list-style-type: none;
  padding-left: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top__bar__nav__links__link {
  position: relative;
  align-self: stretch;
  height: 100%;
}
.top__bar__nav__links__link > a {
  color: #686767 !important;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2.5rem 0 0;
}
.top__bar__nav__links__link > a > button {
  box-shadow: none;
  background-color: transparent !important;
  width: 100% !important;
  padding: 0 !important;
}
.top__bar__nav__links__link.is-link-active > a {
  color: black !important;
}
.top__bar__nav__links__link.is-link-active::before {
  position: absolute;
  top: 0;
  left: -1rem;
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background: #99001c;
  -webkit-animation: tab-active-animate 0.3s ease-in-out backwards;
          animation: tab-active-animate 0.3s ease-in-out backwards;
}

.search__input {
  width: 20rem;
  height: 2.5rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  border: 1px solid #686767;
  border-radius: 99999px;
  padding: 0.5px 2px;
}
.search__input__icon {
  margin-right: 4px;
  border-radius: 99999px;
  transition: all 0.2s ease-in;
}
.search__input > input[type=search] {
  width: 100%;
  height: 100%;
  font-size: 1.4rem;
}
.search__input > input[type=search]:focus {
  outline: none;
}
.search__input > input[type=search]:focus + span.search__input__icon {
  background-color: #262626;
}
.search__input > input[type=search]:focus + span.search__input__icon > i {
  color: #fff !important;
  font-size: 22px !important;
}

.dashboard__card__top {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  padding: 1rem;
  box-shadow: 0px 18px 46px -10px rgba(185, 184, 184, 0.719);
  -webkit-box-shadow: 0px 18px 46px -10px rgba(185, 184, 184, 0.719);
  -moz-box-shadow: 0px 18px 46px -10px rgba(185, 184, 184, 0.719);
}
.dashboard__card__top__left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dashboard__card__top__left__icon {
  width: 3rem;
  height: 3.3rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5rem;
}
.dashboard__card__top__left__icon > i {
  font-size: 26px !important;
}
.dashboard__card__top__left__icon.icon--info {
  background-color: rgba(33, 149, 243, 0.12);
}
.dashboard__card__top__left__icon.icon--info > i {
  color: #2196f3 !important;
}
.dashboard__card__top__left__icon.icon--warnning {
  background-color: rgba(253, 196, 8, 0.12);
}
.dashboard__card__top__left__icon.icon--warnning > i {
  color: #fdc408 !important;
}
.dashboard__card__top__left__icon.icon--danger {
  background-color: rgba(255, 82, 82, 0.12);
}
.dashboard__card__top__left__icon.icon--danger > i {
  color: #ff5252 !important;
}
.dashboard__card__top__left__icon.icon--success {
  background-color: rgba(76, 174, 79, 0.12);
}
.dashboard__card__top__left__icon.icon--success > i {
  color: #4caf50 !important;
}
.dashboard__card__top__left__content {
  height: 3.3rem;
  line-height: 1.2 !important;
  margin-left: 0.5rem;
}
.dashboard__card__top__left__content > p:first-child {
  font-size: 1rem;
  margin-bottom: 0 !important;
  color: #686767;
}
.dashboard__card__top__left__content > p:last-child {
  font-size: 2rem;
  color: black;
  font-weight: 300;
  margin-bottom: 0 !important;
}
.dashboard__card__top__right {
  min-width: 3.3625rem;
  height: 3.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dashboard__card__top__right > p {
  margin-bottom: 0 !important;
  line-height: 1.1 !important;
}
.dashboard__card__top__right.text--info > p {
  color: #2196f3 !important;
}
.dashboard__card__top__right.text--warnning > p {
  color: #fb8a00 !important;
}
.dashboard__card__top__right.text--danger > p {
  color: #ff5252 !important;
}
.dashboard__card__top__right.text--success > p {
  color: #4caf50 !important;
}
.dashboard__card__top__button {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notification {
  width: 100%;
  margin-top: 1.5rem;
}
.notification__container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.notification__container:not(:last-child) {
  margin-bottom: 1.2rem;
}
.notification__avatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 99999px;
  background-color: #fff;
  line-height: 1.2;
}
.notification__avatar > img {
  width: 100%;
  height: 100%;
}
.notification__content {
  width: 12rem;
  flex: 1;
  margin-left: 0.5rem;
  line-height: 1.5;
}
.notification__content__title {
  width: 12rem;
  color: black;
  font-weight: 300;
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.notification__content__time {
  display: block;
  width: 12rem;
  font-size: 0.95rem;
  color: #686767d0;
  letter-spacing: 1px;
  font-weight: 200;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.collapse__header {
  width: 100%;
  height: 7rem;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 15px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  padding: 0 3rem;
  margin-top: 3rem;
  box-shadow: -1px 1px 5px 1px rgba(123, 123, 123, 0.45);
  -webkit-box-shadow: -1px 1px 5px 1px rgba(123, 123, 123, 0.45);
  -moz-box-shadow: -1px 1px 5px 1px rgba(123, 123, 123, 0.45);
}
.collapse__header__left {
  width: calc(100% / 2);
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}
.collapse__header__left > .icon-left {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #fdc408;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
.collapse__header__left > .icon-left > .icon-arch {
  position: absolute;
  top: -18px;
  right: -19px;
  content: "";
  display: inline-block;
  width: 2.3rem;
  height: 3rem;
  background-color: #7f11c9;
  border-radius: 3px;
  transform: rotate(52deg);
}
.collapse__header__left > .icon-left > .icon-circle {
  position: absolute;
  left: -2px;
  bottom: -2px;
  content: "";
  display: inline-block;
  width: 2rem;
  height: 2rem;
  border: 5px solid #ff5252;
  border-radius: 9999px;
}
.collapse__header__left > .title {
  margin: 0 1.1rem;
}
.collapse__header__left > .title > h4 {
  font-size: 1.7rem;
  font-weight: bold;
  color: black;
}
.collapse__header__left > .icon-right {
  background-color: rgba(180, 180, 180, 0.808);
  border-radius: 9999%;
}
.collapse__header__right {
  width: calc(100% / 2);
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.collapse__header__right .fat__arrow {
  margin-left: 5rem;
}
.collapse__header__right .fat__arrow .arrow {
  width: 2.5rem;
  height: 2.5rem;
  display: inline-block;
  border: 2px solid black;
  border-top: transparent;
  border-left: transparent;
  transform: rotate(45deg);
}

.collapse__content {
  width: 100%;
  padding-left: 15.5rem;
  margin-bottom: 5rem;
}
.collapse__content__timeline {
  position: relative;
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.collapse__content__timeline .dot {
  width: 2rem;
  height: 2rem;
  background-color: #99001c;
  border-radius: 9999%;
  margin-right: 1rem;
}
.collapse__content__timeline .line {
  width: 1px;
  height: calc(100% - 2rem);
  position: absolute;
  top: 0;
  left: 1rem;
  background-color: #686767d0;
  border-radius: 9999%;
}
.collapse__content__timeline .line::before {
  position: absolute;
  content: "";
  display: inline-block;
  top: 0;
  left: 0;
  width: 1px;
  height: 0.5rem;
  background-color: #fff;
  border-color: #fff;
}
.collapse__content__timeline .line::after {
  position: absolute;
  content: "";
  display: inline-block;
  bottom: 0;
  left: 0;
  width: 1px;
  height: 0.5rem;
  background-color: #fff;
  border-color: #fff;
}
.collapse__content__timeline .user {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 0 1rem;
}
.collapse__content__timeline .user .details {
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.collapse__content__timeline .user .details .avatar {
  width: 2rem;
  height: 2rem;
  border-radius: 99999px;
  margin-left: 1rem;
  background-color: rgba(180, 180, 180, 0.808);
}
.collapse__content__timeline .user .details .avatar > img {
  width: 100%;
  height: 100%;
}
.collapse__content__timeline .user .sperator {
  width: 2rem;
  height: 1px;
  background-color: rgba(180, 180, 180, 0.808);
  margin-bottom: 1rem;
}
.collapse__content__timeline .range {
  width: 15rem;
  margin: 0 2rem;
}
.collapse__content__timeline .badge__success {
  background-color: rgba(76, 175, 79, 0.404);
  color: #4caf50;
  padding: 0.1rem 1rem;
  border-radius: 9999px;
}
.collapse__content__timeline .badge__warning {
  background-color: rgba(253, 196, 8, 0.404);
  color: #fdc408;
  padding: 0.1rem 1rem;
  border-radius: 9999px;
}
.collapse__content__btn {
  padding-top: 3rem;
}

/***********************************
            BASIC RESET
***********************************/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* 
  Converting default browser font-size of 16px to 10px in percentage
  10px / 16px * 100 = 62.5%, thus 1rem = 62.5% = 10px
  */
  font-size: 62.5% !important;
  /**
      MOBILE FIRST APPROACH
      Extra small devices (portrait phones, less than 576px)
      No media query for `xs` since this is the default
      No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
  **/
  overflow-y: initial !important;
}
@media only screen and (min-width: 62em) {
  html {
    font-size: 75% !important;
  }
}
@media only screen and (max-width: 61.999em) {
  html {
    font-size: 56.25% !important;
  }
}
@media only screen and (max-width: 47.999em) {
  html {
    font-size: 50% !important;
  }
}
html * table > thead > tr > th,
html * table > tbody > tr > td,
html * table > tfoot > tr > td,
html .v-data-footer {
  font-size: 62.5% !important;
  /**
      MOBILE FIRST APPROACH
      Extra small devices (portrait phones, less than 576px)
      No media query for `xs` since this is the default
      No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
  **/
}
@media only screen and (min-width: 62em) {
  html * table > thead > tr > th,
html * table > tbody > tr > td,
html * table > tfoot > tr > td,
html .v-data-footer {
    font-size: 75% !important;
  }
}
@media only screen and (max-width: 61.999em) {
  html * table > thead > tr > th,
html * table > tbody > tr > td,
html * table > tfoot > tr > td,
html .v-data-footer {
    font-size: 56.25% !important;
  }
}
@media only screen and (max-width: 47.999em) {
  html * table > thead > tr > th,
html * table > tbody > tr > td,
html * table > tfoot > tr > td,
html .v-data-footer {
    font-size: 50% !important;
  }
}

body {
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif !important;
  font-weight: 400;
  line-height: 1.7;
  color: #686767;
  font-size: 1.2rem !important;
  background: #f8fafc;
  min-height: 100vh !important;
}

a,
a:active {
  color: #686767;
  text-decoration: none;
}

::-moz-selection {
  background-color: #99001c;
  color: #fff;
}

::selection {
  background-color: #99001c;
  color: #fff;
}

.v-list--dense .v-subheader,
.v-list--dense .v-subheader {
  font-size: 1.2rem !important;
  height: 50px !important;
  padding: 0 8px;
}

.v-list-item--dense .v-list-item__title,
.v-list-item--dense .v-list-item__subtitle,
.v-list--dense .v-list-item .v-list-item__title,
.v-list--dense .v-list-item .v-list-item__subtitle {
  font-size: 1.1rem !important;
  line-height: 1.2 !important;
}

.v-list--dense .v-list-item,
.v-list-item {
  min-height: 30px !important;
}

.v-application--is-ltr .v-list-item__action:first-child,
.v-application--is-ltr .v-list-item__icon:first-child {
  margin-right: 12px !important;
}

.v-application p {
  margin-bottom: 0 !important;
}

.v-data-table > .v-data-table__wrapper > table > tbody > tr > td,
.v-data-table > .v-data-table__wrapper > table > tfoot > tr > td,
.v-data-table > .v-data-table__wrapper > table > thead > tr > td {
  font-size: 1.2rem !important;
}

.v-data-table > .v-data-table__wrapper > table > tbody > tr > th,
.v-data-table > .v-data-table__wrapper > table > tfoot > tr > th,
.v-data-table > .v-data-table__wrapper > table > thead > tr > th {
  font-size: 1.2rem !important;
  height: 48px;
}

.v-select__slot {
  justify-content: center !important;
}
.v-select__slot .v-input__append-inner {
  margin-top: 0 !important;
  height: 100%;
  display: flex;
  align-items: center;
}

.v-snack__content {
  font-size: 1.2rem !important;
}

.home {
  width: 100%;
}
.home__nav {
  width: 100%;
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10rem;
}
.home__nav__brand {
  width: 13rem;
}
.home__nav__brand > img {
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 35.999em) {
  .home__nav {
    height: 12rem;
  }
}
.home__nav__links {
  height: 100%;
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.home__nav__links > li {
  position: relative;
}
.home__nav__links > li:not(:first-child) {
  padding-left: 2rem;
}
.home__nav__links > li::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  transition: width 0.4s ease-in-out;
}
.home__nav__links > li > a {
  display: inline-block;
  color: #fff;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}
@media only screen and (max-width: 61.999em) {
  .home__nav__links > li > a {
    font-size: 1.6rem;
  }
}
@media only screen and (max-width: 35.999em) {
  .home__nav__links > li > a {
    font-size: 1.4rem;
  }
}
.home__nav__links > li:hover::after {
  width: 100%;
  background-color: #fff;
}
@media only screen and (max-width: 35.999em) {
  .home__nav {
    padding: 0 2rem;
  }
}
.home__banner {
  width: 100%;
  height: 100vh;
  background-image: repeating-linear-gradient(to bottom, rgba(153, 0, 28, 0.829), rgba(153, 0, 28, 0.829)), url("/storage/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}
.home__banner__cta {
  width: 100%;
  height: calc(100vh - 16rem);
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 35.999em) {
  .home__banner__cta {
    height: calc(100vh - 27rem);
  }
}
.home__banner__cta > article {
  color: #fff;
}
.home__banner__cta > article > h3 {
  font-size: 3rem;
  line-height: 1;
}
.home__banner__cta > article > h1 {
  font-size: 6rem;
  line-height: 1.2;
}
.home__banner__cta > article > h1:last-child {
  font-size: 6rem;
  text-align: right;
}
@media only screen and (max-width: 35.999em) {
  .home__banner__cta > article > h3 {
    font-size: 2.5rem;
    line-height: 1;
  }
  .home__banner__cta > article > h1 {
    font-size: 4.5rem;
    line-height: 1.2;
  }
  .home__banner__cta > article > h1:last-child {
    font-size: 3rem;
    text-align: right;
  }
}
@media only screen and (max-width: 35.999em) {
  .home__banner__cta {
    padding: 0 2rem;
  }
}
.home__banner__icon {
  width: 100%;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home__banner__icon > a {
  color: #fff !important;
  display: inline-block;
  -webkit-animation: arrow-infinite 0.7s ease-out 0.2s infinite alternate;
          animation: arrow-infinite 0.7s ease-out 0.2s infinite alternate;
}
.home__banner__icon > a > i {
  font-size: 5rem !important;
  color: inherit !important;
}
.home__banner__icon > a:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
@media only screen and (max-width: 61.999em) {
  .home__banner__icon {
    height: 15rem;
  }
}
@media only screen and (max-width: 35.999em) {
  .home__banner__icon {
    height: 15rem;
  }
}
.home__about {
  width: 100%;
  padding: 2rem 0;
  background: #fff;
}
.home__about__title {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  color: #686767;
}
.home__about__title > h1 {
  font-size: 2rem;
  color: #262626;
  margin-bottom: 2rem;
}
.home__about__description {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem 10rem;
}
.home__about__description > article.article {
  width: 100%;
}
.home__about__description > article.article > .programs__title {
  margin: 1rem 0;
}
@media only screen and (max-width: 61.999em) {
  .home__about__description > article.article {
    font-size: 2.5rem;
  }
}
.home__about__description > article.article > .programs {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.home__about__description > article.article > .programs > .programs__program {
  width: 15rem;
  height: 10rem;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.home__about__description > article.article > .programs > .programs__program:not(:last-child) {
  margin-right: 2rem;
  margin-bottom: 2rem;
}
@media only screen and (max-width: 61.999em) {
  .home__about__description {
    padding: 2rem 5rem;
  }
}
@media only screen and (max-width: 35.999em) {
  .home__about__description {
    width: 100%;
    flex-direction: column-reverse;
    padding: 2rem 0;
  }
  .home__about__description > article.article {
    width: 100%;
    padding: 0 2rem;
    margin-top: 2rem;
  }
  .home__about__description > div.image {
    width: 100%;
  }
}
.home__apply {
  width: 100%;
  min-height: 100vh;
  background: #262626;
  padding: 5rem 0;
}
.home__apply__title {
  text-align: center;
  font-size: 3rem;
  color: #99001c;
  margin-bottom: 2rem;
}
.home__apply__form__wrapper {
  width: 100%;
}
@media only screen and (max-width: 61.999em) {
  .home__apply__form__wrapper .v-input,
.home__apply__form__wrapper .v-label {
    font-size: 2.5rem !important;
  }
}
@media only screen and (max-width: 35.999em) {
  .home__apply {
    padding: 5rem 0;
  }
}

.login {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
}
.login__image {
  width: 50%;
}
.login__form {
  width: 50%;
  background-color: #99001c;
}

.d__wrapper {
  width: 100%;
  min-height: 100vh;
}

.d__side__nav {
  width: 20%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}
.d__side__nav.hide-nav-content {
  width: 4rem;
  transition: width 0.1s cubic-bezier(0, 0, 0.55, 0.54);
}
.d__side__nav.hide-nav-content + main.d__main {
  width: calc(100% - 4rem);
  transition: width 0.2s cubic-bezier(0, 0, 0.55, 0.54);
}
.d__side__nav__mini {
  position: absolute;
  top: 0;
  left: 0;
  width: 4rem;
  height: 100%;
  background: #99001c;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.d__side__nav__mini span.mini-nav-active > a > i {
  color: #fff !important;
}
.d__side__nav__mini span.mini-nav-active::before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: "";
  height: 100%;
  width: 3px;
  background-color: #fff;
  -webkit-animation: mini-nav-active-animate 0.5s ease-in forwards;
          animation: mini-nav-active-animate 0.5s ease-in forwards;
}
.d__side__nav__mini__top {
  width: 100%;
  height: 20%;
  text-align: center;
}
.d__side__nav__mini__top span {
  position: relative;
  display: block;
  margin: 1.5rem 0;
  cursor: pointer;
}
.d__side__nav__mini__top span > i {
  color: #e8f1faa4 !important;
  transition: color 0.5s ease-in forwards !important;
}
.d__side__nav__mini__top span:hover > i {
  color: #fff !important;
}
.d__side__nav__mini__middle {
  width: 100%;
  height: 70%;
  text-align: center;
}
.d__side__nav__mini__middle span {
  position: relative;
  display: block;
  margin: 1.5rem 0;
  cursor: pointer;
}
.d__side__nav__mini__middle span > i {
  color: #e8f1faa4 !important;
  transition: color 0.5s ease-in forwards !important;
}
.d__side__nav__mini__middle span:hover > i {
  color: #fff !important;
}
.d__side__nav__mini__middle span:hover::before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: "";
  height: 100%;
  width: 3px;
  background-color: #fff;
  -webkit-animation: mini-nav-active-animate 0.5s ease-in forwards;
          animation: mini-nav-active-animate 0.5s ease-in forwards;
}
.d__side__nav__mini__bottom {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
}
.d__side__nav__mini__bottom__avatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 99999px;
  background-color: #fff;
}
.d__side__nav__mini__bottom__avatar > img {
  width: 100%;
  height: 100%;
}
.d__side__nav__content {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - 4rem);
  transition: width 0.9s ease-out;
  height: 100%;
  overflow-x: hidden;
  background-color: #e8f1fafb;
  display: inline-block;
}
.d__side__nav__content__brand {
  width: 100%;
  height: 5rem;
  position: sticky;
  background-color: #e8f1fafb;
  top: 0;
  left: 0;
  z-index: 999999;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}
.d__side__nav__content__brand__logo {
  width: 12rem;
}
.d__side__nav__content__brand__logo > img {
  width: 100%;
  height: 100%;
}
.d__side__nav__content__tab {
  width: 100%;
  padding: 0 1.5rem;
}

.d__main {
  width: calc(100% - 20%);
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  background: #fff;
}
.d__main__header {
  width: 100%;
  height: 4rem;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999999;
  background: #fff;
  box-shadow: 1px 10px 8px -7px rgba(185, 184, 184, 0.815);
  -webkit-box-shadow: 1px 10px 8px -7px rgba(185, 184, 184, 0.815);
  -moz-box-shadow: 1px 10px 8px -7px rgba(185, 184, 184, 0.815);
}
.d__main__header .top__bar__nav__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
}
.d__main__content {
  padding: 2rem 1rem;
  width: 100%;
}

.s__row {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.s__row:not(:last-child) {
  margin-bottom: 1rem;
}
@media only screen and (max-width: 35.999em) {
  .s__row {
    flex-direction: column;
  }
}
.s__row > .s__col:not(:last-child) {
  margin-right: 1rem;
  margin-bottom: 1rem;
}
.s__row > .s__col.c--12 {
  width: calc(100%);
}
@media only screen and (max-width: 35.999em) {
  .s__row > .s__col.c--12 {
    width: calc(100%);
  }
}
.s__row > .s__col.c--11 {
  width: calc( ((100% - (1rem * 11)) / 12) * 11 + 1rem* 10 );
}
@media only screen and (max-width: 35.999em) {
  .s__row > .s__col.c--11 {
    width: calc(100%);
  }
}
.s__row > .s__col.c--10 {
  width: calc( ((100% - (1rem * 5)) / 6) * 5 + 1rem* 4 );
}
@media only screen and (max-width: 35.999em) {
  .s__row > .s__col.c--10 {
    width: calc(100%);
  }
}
.s__row > .s__col.c--9 {
  width: calc( ((100% - (1rem * 3)) / 4) * 3 + 1rem* 2 );
}
@media only screen and (max-width: 35.999em) {
  .s__row > .s__col.c--9 {
    width: calc(100%);
  }
}
.s__row > .s__col.c--8 {
  width: calc( ((100% - (1rem * 2)) / 3) * 2 + 1rem );
}
@media only screen and (max-width: 35.999em) {
  .s__row > .s__col.c--8 {
    width: calc(100%);
  }
}
.s__row > .s__col.c--7 {
  width: calc( ((100% - (1rem * 11)) / 12) * 7 + 1rem * 6 );
}
@media only screen and (max-width: 35.999em) {
  .s__row > .s__col.c--7 {
    width: calc(100%);
  }
}
.s__row > .s__col.c--6 {
  width: calc((100% - 1rem) / 2);
}
@media only screen and (max-width: 35.999em) {
  .s__row > .s__col.c--6 {
    width: calc(100%);
  }
}
.s__row > .s__col.c--5 {
  width: calc( ((100% - (1rem * 11)) / 12) * 5 + 1rem * 4 );
}
@media only screen and (max-width: 35.999em) {
  .s__row > .s__col.c--5 {
    width: calc(100%);
  }
}
.s__row > .s__col.c--4 {
  width: calc((100% - (1rem * 2)) / 3);
}
@media only screen and (max-width: 35.999em) {
  .s__row > .s__col.c--4 {
    width: calc(100%);
  }
}
.s__row > .s__col.c--3 {
  width: calc((100% - (1rem * 3)) / 4);
}
@media only screen and (max-width: 35.999em) {
  .s__row > .s__col.c--3 {
    width: calc(100%);
  }
}
.s__row > .s__col.c--2 {
  width: calc((100% - (1rem * 5)) / 6);
}
@media only screen and (max-width: 35.999em) {
  .s__row > .s__col.c--2 {
    width: calc(100%);
  }
}
.s__row > .s__col.c--1 {
  width: calc((100% - (1rem * 11)) / 12);
}
@media only screen and (max-width: 35.999em) {
  .s__row > .s__col.c--1 {
    width: calc(100%);
  }
}
